.repos_section {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
  row-gap: 0.5rem;
}

.criteria_input {
  max-width: 12rem;
  height: 3rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-family: inherit;
  background-color: #c5c5c5;
  transition: border-color 0.25s;
  transition: filter 0.15s;
}
.criteria_input:hover {
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.2));
}
.criteria_input:focus {
  outline: none;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.25)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}


@media (max-width: 400px) {
  .criteria_input {
    width: 9rem;
  }
}