table {
  width: 100%;
}

thead {
  background-color: #afafaf;
}

table, th, td {
  border: 1px solid lightgray;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: lightgray;
}

tr {
  height: 1.8rem;
}

th, td {
  padding: 0.5rem 0.75rem;
}

t:nth-child(1), th:nth-child(1) {
  width: 25%;
}

t:nth-child(2), th:nth-child(2) {
  width: 60%;
}

t:last-child, th:last-child {
  width: 15%;
}